In [ ]:
## optimization

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From C:\Users\2244\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df = application_df.drop(columns = ['EIN'])

In [4]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [8]:
# Look at CLASSIFICATION value counts for binning

classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_test = classification_counts[classification_counts>1]
classification_counts_test

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts_test[classification_counts_test<100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      643
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1900        1
C2600        1
C1248        1
C6100        1
C1820        1
C1580        1
C2570        1
C1732        1
C3700        1
C2500        1
C1570        1
C1283        1
C2380        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: count, dtype: int64

In [11]:
classifications_to_replace

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256']

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=int)
application_df.head(10)

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
5,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,1,31452,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
7,1,7508025,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
8,1,94389,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
9,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [13]:
# Split our preprocessed data into our features and target arrays

y = application_df['IS_SUCCESSFUL'].values
x = application_df.drop('IS_SUCCESSFUL',axis=1).values

In [14]:
# Split the preprocessed data into a training and testing dataset (it took 30 mins for it to run btw, why? idk)

x_train, x_test, y_train, y_test = train_test_split(x, y)

In [15]:
x

array([[       1,     5000,        0, ...,        0,        1,        0],
       [       1,   108590,        0, ...,        0,        1,        0],
       [       1,     5000,        0, ...,        0,        1,        0],
       ...,
       [       1,     5000,        0, ...,        0,        1,        0],
       [       1,     5000,        0, ...,        0,        1,        0],
       [       1, 36500179,        0, ...,        0,        1,        0]],
      dtype=int64)

In [16]:
y

array([1, 1, 0, ..., 0, 1, 0], dtype=int64)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(x_train)

# Scale the data
X_train_scaled = X_scaler.transform(x_train)
X_test_scaled = X_scaler.transform(x_test)

## Compile, Train and Evaluate the Model

In [36]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train_scaled[0])
hidden_layer1 = 6
hidden_layer2 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer1, input_dim = input_features, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer2, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 32)                628608

 dense_13 (Dense)            (None, 20)                660

 dense_14 (Dense)            (None, 1)                 21

=================================================================
Total params: 629289 (2.40 MB)
Trainable params: 629289 (2.40 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [37]:
# Compile the model

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [40]:
# Train the model

fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 7s 4ms/step - loss: 0.0896 - accuracy: 0.9627
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0894 - accuracy: 0.9630
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0888 - accuracy: 0.9633
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0886 - accuracy: 0.9635
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0880 - accuracy: 0.9631
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0874 - accuracy: 0.9636
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0876 - accuracy: 0.9637
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0866 - accuracy: 0.9639
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0865 - accuracy: 0.9642
Epoch 10/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0863 - accuracy: 0.9637
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0856 - accuracy: 0.9645
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0859 - accuracy: 0.9644
Epoch 13/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0853 - accuracy: 0.9643
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0852 - accuracy: 0.9643
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0846 - accuracy: 0.9647
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0848 - accuracy: 0.9640
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0846 - accuracy: 0.9649
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0840 - accuracy: 0.9653
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0842 - accuracy: 0.9651
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0838 - accuracy: 0.9652
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0834 - accuracy: 0.9652
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0830 - accuracy: 0.9654
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0829 - accuracy: 0.9659
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0828 - accuracy: 0.9654
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0825 - accuracy: 0.9656
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0826 - accuracy: 0.9655
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0821 - accuracy: 0.9658
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0820 - accuracy: 0.9656
Epoch 29/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0819 - accuracy: 0.9661
Epoch 30/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0817 - accuracy: 0.9664
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0818 - accuracy: 0.9661
Epoch 32/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0811 - accuracy: 0.9669
Epoch 33/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0812 - accuracy: 0.9662
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0807 - accuracy: 0.9668
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0810 - accuracy: 0.9665
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0812 - accuracy: 0.9660
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0805 - accuracy: 0.9671
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0806 - accuracy: 0.9670
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0805 - accuracy: 0.9672
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0806 - accuracy: 0.9668
Epoch 41/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0806 - accuracy: 0.9663
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0801 - accuracy: 0.9668
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0798 - accuracy: 0.9667
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0798 - accuracy: 0.9670
Epoch 45/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0799 - accuracy: 0.9667
Epoch 46/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0796 - accuracy: 0.9663
Epoch 47/100
804/804 [==============================] - 5s 7ms/step - loss: 0.0798 - accuracy: 0.9671
Epoch 48/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0796 - accuracy: 0.9668
Epoch 49/100
804/804 [==============================] - 4s 6ms/step - loss: 0.0793 - accuracy: 0.9670
Epoch 50/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0794 - accuracy: 0.9672
Epoch 51/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0795 - accuracy: 0.9669
Epoch 52/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0792 - accuracy: 0.9667
Epoch 53/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0794 - accuracy: 0.9674
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0787 - accuracy: 0.9673
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0792 - accuracy: 0.9674
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0789 - accuracy: 0.9672
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0790 - accuracy: 0.9673
Epoch 58/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0790 - accuracy: 0.9669
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0788 - accuracy: 0.9672
Epoch 60/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0786 - accuracy: 0.9674
Epoch 61/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0785 - accuracy: 0.9673
Epoch 62/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0790 - accuracy: 0.9673
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0789 - accuracy: 0.9666
Epoch 64/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0788 - accuracy: 0.9670
Epoch 65/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0785 - accuracy: 0.9675
Epoch 66/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0788 - accuracy: 0.9674
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0782 - accuracy: 0.9676
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0785 - accuracy: 0.9674
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0784 - accuracy: 0.9674
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0782 - accuracy: 0.9674
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0784 - accuracy: 0.9674
Epoch 72/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0782 - accuracy: 0.9672
Epoch 73/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0786 - accuracy: 0.9670
Epoch 74/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0781 - accuracy: 0.9670
Epoch 75/100
804/804 [==============================] - 4s 4ms/step - loss: 0.0779 - accuracy: 0.9678
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0782 - accuracy: 0.9677
Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0775 - accuracy: 0.9677
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0779 - accuracy: 0.9675
Epoch 79/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0779 - accuracy: 0.9670
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0781 - accuracy: 0.9675
Epoch 81/100

804/804 [==============================] - 3s 4ms/step - loss: 0.0778 - accuracy: 0.9680
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0781 - accuracy: 0.9672
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0777 - accuracy: 0.9675
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0778 - accuracy: 0.9676
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0781 - accuracy: 0.9673
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0778 - accuracy: 0.9675
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0777 - accuracy: 0.9675
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0775 - accuracy: 0.9674
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0777 - accuracy: 0.9677
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0776 - accuracy: 0.9674
Epoch 91/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0775 - accuracy: 0.9677
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0776 - accuracy: 0.9677
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0776 - accuracy: 0.9677
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0776 - accuracy: 0.9672
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0775 - accuracy: 0.9675
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0778 - accuracy: 0.9679
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0778 - accuracy: 0.9671
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0774 - accuracy: 0.9674
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0776 - accuracy: 0.9679
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0776 - accuracy: 0.9679

In [41]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.7759 - accuracy: 0.7549 - 343ms/epoch - 1ms/step
Loss: 0.7759314179420471, Accuracy: 0.7548688054084778

In [42]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5', save_format='h5')